* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
  color: red;
}

.main-content {
  flex-grow: 1;
}